.header{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.header-top{
	background: green;	
}
.adress{
	float: left;
}
.Login{
	float: right;
}
.Content{
	width: 1000px;
	height: auto;
	margin: 0 auto;
	display: flex;
	background-color: rgba(0, 255, 222, 0.21);
}
.left{
	width: 27%;
}
.right{
	width: 73%;
}

.d-block {
	margin: 30px;
}
